body {

    font-family: "Segoe UI";
    text-decoration: none !important;
    padding: 0px;
    background-color: #74AFAD;
}
/*.logo {*/
  /*font-family: 'Clicker Script', cursive;*/
/*}*/
a{
    text-decoration: none;
}

.logo a {
  color: #ECECEA;
  text-decoration: none;
    background-color:#D9853B ;
}

.logo a:hover{
    color: black;
}


.right-title-text{
    font-weight: bold;
}
.btn-warning{
    background: #D9853B !important;
    color: #ECECEA;
}
.btn-success{
    background: #558C89 !important;
    color: #ECECEA;
}
.btn-success:hover{
    background: #558C89 !important;
    color: #000000;
}
.helptext, .helptext ul{
    margin: 0 auto 20px;
    display: block;
    font-size: 0.9em;

}
.errorlist li{
    padding: 10px;
    list-style-type: none;
    border: 1px solid #ff5722;
    color: #ff5722;
}

.ordered-list{
    display: list-item;
}
.ordered-list-group{
    list-style: decimal inside;
}

